.start{
  background-color: #b9936c;
}
#background{
  width: 100%;
}

#flashbtn {
  border-radius: 4px;
  background-color: #d4ac6e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;

  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

@keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
@-moz-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
#flashbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#flashbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#flashbtn:hover span {
  padding-right: 25px;
}

#flashbtn:hover span:after {
  opacity: 1;
  right: 0;
}
.btn{
  border-radius: 4px;
  background-color: #d4ac6e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 5px;
  width: 150px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: inline-block;
}
.align{
  text-align: center;
  font-size: 20px;
  font-family: georgia;
  font-style: oblique;
}
#warning{
  width: auto;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
#play{
  display: none;
  background-color: #b9936c;
}
.text{
  text-align: center;
  font-size: 24px;
  font-family: georgia;
  font-weight: bold;
}
.roll{
  background-color: #b9936c;
  height: 100%;
  margin-top: 30px;
  padding: 20px;

}
